{% block content %}
<title> Restaurant </title>
<p> {{info}} </p>
<p>{{user.username}}</p>
<form method="post" action=""> {% csrf_token %}
{% for x in list1 %}
<a href="{{x.url}}">{{x.name}}</a>
{% if x.id in list2 %}
<label><input type="checkbox" name="checks[]" id="{{x.id}}" checked="on" value="{{x.id}}"> Interested </label><br>
{% else %}
<label><input type="checkbox" name="checks[]" id="{{x.id}}"  value="{{x.id}}"> Interested </label><br>
{% endif %}
<p> {{x.address}}</p> {% endfor %}
<input type="submit"/>
</form>
<a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
 {% endblock content%}
