body {
  background: #1B998B;
  color: #534D56;
}
.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
}
h1,h2
{
  position: fixed;
    top:-10px;
  color: #B5DFCA;
}
h2
{
  position: fixed;
  top:-10px;
  right:50px;
}
a
{
  color:#627264;
  font-weight: bolder;
  text-decoration: none;
}
a:hover
{
  color:#534DFF;
}
.top
{
  display: block;
  height:50px;
}
.bottom
{
  margin-top: 50px;
  display: block;
}
hr
{
  margin: 0 auto;
  width: 500px;
  border-style: dashed;
}
.cbox
{
  border: 2px solid;
  border-radius: 5px;
  background-color: #F8F1FF;
  border-color: #DECDF5;
  padding: 12px;
  margin: 0 auto;
  width: 500px;
  margin-top: 20px;
}
.box
{
  margin: 0 auto;
  width: 500px;
  margin-top: 20px;
}
